* {
    font-family: 'Manrope', sans-serif;
}

.fs-20 {
    font-size: 20px;
}


/* body */
.bg-custom {
    background-color: #006a4e;
}


/* header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/ground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 135px 0;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: #f42a41;
    font-size: 76px;
}

.title::after {
    content: '';
    background: url("../img/line1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 330px;
    height: 40px;
    right: 0;
    bottom: -45px;
    text-align: right !important;
}


/* main section */
.player-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.fs-24 {
    font-size: 24px;
}

.btn-select {
    background-color: #A2A9AF;
    color: black;
}

.btn-select:hover {
    background-color: #015196;
    color: white;
}